/* .film {
  width: 77%;
  max-width: 1000px;
  margin: auto;
 
} */

.film_full {
  max-width: 1000px;
  margin: auto;
}

.film__content {
  margin: 1% 0;
  box-sizing: content-box;
  padding: 10px 0;
}
.film__img {
  float: left;
  margin: 10px;
}
.film__film-more {
  display: block;
  width: 32px;
  background-color: #ffffff;
  color: black;
  cursor: pointer;
  outline: none;
  border: none;

  font-size: 30px;
  font-family: inherit;
  text-decoration: none;
  text-align: center;
  float: right;
} 

  .film__content::after {
    content: "";
    clear: both;
    display: table;
  }

    
  .film__head-line {
    display: flex;
    justify-content: space-between;
  }
  .film__content p {
    margin: 0;
    margin-left: 110px;
    margin-right: 40px;
    height: 45px;
    overflow: hidden;
    font-family: SawarabiMincho-Regular;
  }
  h2 {
    margin: 0;
  }
  .film__release {
    padding-top: 5px;
    padding-right: 10px;
    flex-basis: 75px;
    flex-shrink: 0;
  }
