@font-face {
  font-family: "Bangers-Regular";
  src: url(./fonts/Bangers/Bangers-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SawarabiMincho-Regular";
  src: url(./fonts/Sawarabi_Mincho/SawarabiMincho-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: Bangers-Regular;
}
.container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.container__main {
  width: 77%;
}
.container__main_full-width {
  width: 100%;
}

.container__right {
  width: 20%;
  height: 620px;
}

.container__left {
  width: 20%;
  height: 620px;
/* displey flex  */
  order: -1;             
}

.content__film-name {
  margin: 0;
}

.content__img {
  margin: 10px;
  margin-right: 20px;
  float: left;
}
.content__full-info {
  margin: 10px;
}
.content__full-description {
  clear: both;
  margin: 0;
}

.font-span {
  font-family: SawarabiMincho-Regular;
}
